__pycache__/
*.pyc
.ipynb_checkpoints/
.env
.venv/
venv/
.DS_Store

data/raw/*
data/interim/*
data/processed/*
!data/raw/.gitkeep
!data/interim/.gitkeep
!data/processed/.gitkeep
!data/external/.gitkeep

output/figures/*
output/tables/*
output/dashboard_exports/*
!output/figures/.gitkeep
!output/tables/.gitkeep
!output/dashboard_exports/.gitkeep

tableau/exported_images/*
!tableau/exported_images/.gitkeep